* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ant-card {
  width: 270px;
  margin: 5px !important;
  &-body {
    padding: 0 !important;
    img {
      min-width: 100%;
      height: auto;
    }
  }
}

.ant-card-head-title {
  text-align: center;
}
