* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ant-card {
  width: 270px;
  &-body {
    padding: 0 !important;
    img {
      width: 270px;
      height: 250px;
      object-fit: cover;
    }
  }
}

.ant-card-head-title {
  text-align: center;
}
