.profilePage {
  padding: 40px;
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &__container {
    margin-top: 40px;

  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
  }
  &__btn {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
  }
  &__info {
    &-name {
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 5px;
    }
    &-username {
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 5px;

    }
    &-mail {
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 10px;
    }
  }
}

.ant-avatar, .ant-avatar-icon, .ant-avatar-circle {
  margin: 20px 20px 20px 0 !important;
}
