.Publication {
  padding: 40px;
  &__cardList {
    display: flex;

  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 14px;
  }
  &__wrapper {
    margin-top: 40px;
  }
  &__post {
    display: block;
    left: calc(50% - 65px);
    margin: 50px 0;
  }
}
