.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  &__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__link {
    display: flex;
  }
  &__menu {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
}

