.EditProfilePage {
  &__container {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
  }
  &__back {
    margin: 40px;
    display: flex;
    justify-content: space-between;
  }
  &__mainInfo {
    display: flex;
    align-items: center;
  }
  &__form {
    width: 500px;
    &-changePassword {
      text-align: center;
      font-weight: bold;
      margin-bottom: 10px;
    }

  }
}
